@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Light Mode */
.light {
  background-color: var(--bg-light);
  color: var(--text-light);
  transition: background 0.3s, color 0.3s;
}

/* Dark Mode */
.dark {
  background-color: var(--bg-dark);
  color: var(--text-dark);
  transition: background 0.3s, color 0.3s;
}

/* Utility classes */
button,
input {
  font-family: inherit;
  outline: none;
}

/* Enhanced Responsive Design */
:root {
  /* Existing variables */
  --bg-light: #ffffff;
  --bg-light: #ebe4e4;
  --bg-light: #f7f3f3;


  --bg-light: hsla(0, 10%, 96%, 0.66);

  
  --text-light: #111827;
  --card-light: #f9fafb;
  --bg-dark: #0f172a;
  --text-dark: #f3f4f6;
  --card-dark: #1e293b;
  --primary: #3b82f6;
}

.main-content {
  /* This ensures the footer stays at the bottom even if content is loading */
  /* min-height: calc(100vh - 200px); */
  min-height: 80vh;
}